<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>Velcome</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        query = 'pretty lights';
        api_url = '1.apishark.com/p:y3p001';
        query_url = ' /searchSongs/';
       /* $(document).ready(function () {
           $.get(api_url+query_url, function(data) {
               console.log(data);
               alert('woot');
           });
        });*/
        $(document).ready(function () {
            $('.vote img').click(submitVote);
            var test = '[{"name":"hot like sauce", "artist" : "pretty lightS", "votes" : "1"}]';
            parseSongs(test,"#playing")
        });
        function submitVote(data){
              $.ajax({
                  type: 'POST',
                  url: '/playthis',
                  data: {test : 1},
                  success: function(){alert('hi');},
                  dataType: 'json'
            });
        }
        function parseSongs(jsondata, appendID){
            var songs = $.parseJSON(jsondata);
            console.log(songs)
            for (song in songs){
                console.log(song.name);
                var container = $('<div id="song"></div>');
                var name = $('<span class="song_name"></span>');
                var artist = $('<span class="song_artist"></span>');
                var votes = $('<span class="votes"></span>');
                $(name).html(song.name);
                $(artist).html(song.artist);
                $(votes).html(song.votes);
                $(container).append(name).append(artist).append(votes)
                console.log(container);
                $(appendID).append(container);
            }


        }
    </script>
</head>
<body>
<h1>Current Songs:</h1>
<div id="playing">
</div>
<label for="search">Search for songs:</label><input type="text" name="search" />
<input type="submit" value="search" />
<div id ="search_results">

    
</div>
</body>
</html>